<h3>Documents Management Editor</h3>
<hr>
<form [formGroup]="forma" novalidate="novalidate">
  <div class="form-group">
    <input class="form-control"
           type="hidden"
           name="id"
           formControlName="id">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"
           name="name"
           formControlName="name"
           placeholder="Document Name">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input class="form-control"
           name="author"
           formControlName="author"
           placeholder="Document Author">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control"
           name="description"
           formControlName="description"
           placeholder="Description">
  </div>
  <div class="form-group">
    <label>Content</label>
    <textarea [froalaEditor]
              name="content"
              class="form-control"
              formControlName="content">
    </textarea>
  </div>
  <div class="form-group hidden">
  <input class="form-control"
         type="hidden"
         name="date"
         formControlName="date">
</div>
  <div class="form-group hidden">
    <input class="form-control"
           type="hidden"
           name="editDate"
           formControlName="editDate">
  </div>
  <button class="btn btn-outline-info" (click)="discard()">Descartar</button>
  <button class="btn btn-outline-danger" (click)="delete()">Eliminar</button>
</form>
